.card {
  &__image {
    padding-top: 39%;
    padding-left: 17%;
  }
  &__content {
    text-align: center;
  }
  &__title {
    padding-top: 10%;
    font-weight: 600;
  }
  &__subtitle {
    padding-top: 1%;
    letter-spacing: 4px;
  }
  &__remained {
    padding-top: 10%;
  }
}
